{% extends "index.html" %} {% block main-content %}
<a type="button" class="btn btn-outline-primary ml-3 btn-sm" href={% url 'product_add' %}>
  + Adicionar Produto
</a>
<h2 class="mb-3">Lista de Produtos</h2>

{% if product_list %}
<table class="table mr-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    {% for product in product_list %}
    <tr>
      <th scope="row">{{product.pk}}</th>
      <td>{{product.name_product}}</td>
      <td>{{product.price}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>Não há produtos cadastrados!</p>
{% endif %} {% endblock %}
